<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mongoDbEmbedded" type="HermEsb.Extended.MongoDb.Embedded.Configuration.MongoDbEmbeddedConfig, HermEsb.Extended.MongoDb.Embedded"/>
  </configSections>
  <mongoDbEmbedded binFolder="MongoDB\x64" dataFolder="MongoDB\data" logFolder="MongoDB\log" rest="true">
    <binaries>
      <binary name="bsondump.exe" />
      <binary name="mongo.exe" />
      <binary name="mongod.exe" />
      <binary name="mongodump.exe" />
      <binary name="mongoexport.exe" />
      <binary name="mongofiles.exe" />
      <binary name="mongoimport.exe" />
      <binary name="mongorestore.exe" />
      <binary name="mongos.exe" />
      <binary name="mongostat.exe" />
    </binaries>
  </mongoDbEmbedded>
</configuration>