<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.0" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net40" />
  <package id="MrwDependencyMoq" version="4.0.10827" targetFramework="net40" />
  <package id="MrwDependencyNUnit" version="2.6.0.12051" targetFramework="net40" />
  <package id="MrwDependencyWindsor" version="2.5.2.1" targetFramework="net40" />
  <package id="MrwEsbTest" version="1.0.4.314" targetFramework="net40" />
  <package id="MrwIocWindsor" version="1.0.4.349" targetFramework="net40" />
  <package id="MrwTest" version="1.0.0" targetFramework="net40" />
</packages>