<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="jobObjects" type="HermEsb.Extended.JobObjects.Configuration.JobObjectsConfig, HermEsb.JobObjects"/>
  </configSections>
  <jobObjects>
    <jobs>
      <jobObject name="job1">
        <basicLimitInformation
            activeProcessLimit="65535" 
            affinity="0"
            limitFlags="0x0200"
            maximumWorkingSetSize="512" 
            minimumWorkingSetSize="128" 
            perJobUserTimeLimit="100" 
            perProcessUserTimeLimit="200" 
            priorityClass="Normal" 
            schedulingClass="0" />
        <extendedLimitInformation 
            jobMemoryLimit="512" 
            peakJobMemoryUsed="1024" 
            peakProcessMemoryUsed="648" 
            processMemoryLimit="648"/>
      </jobObject>
      <jobObject name="job2">
        <basicLimitInformation 
            activeProcessLimit="65535" 
            affinity="0" 
            limitFlags="0x0200"
            maximumWorkingSetSize="512" 
            minimumWorkingSetSize="128" 
            perJobUserTimeLimit="100" 
            perProcessUserTimeLimit="200" 
            priorityClass="Normal" 
            schedulingClass="0"/>
        <extendedLimitInformation 
            jobMemoryLimit="512" 
            peakJobMemoryUsed="1024" 
            peakProcessMemoryUsed="648" 
            processMemoryLimit="648"/>
      </jobObject>
      <jobObject name="job3">
        <basicLimitInformation
            activeProcessLimit="65535"
            affinity="0"
            limitFlags="0xFFFF"
            maximumWorkingSetSize="62914560"
            minimumWorkingSetSize="62914560"
            perJobUserTimeLimit="100"
            perProcessUserTimeLimit="200"
            priorityClass="BelowNormal"
            schedulingClass="0" />
        <extendedLimitInformation
            jobMemoryLimit="62914560"
            peakJobMemoryUsed="62914560"
            peakProcessMemoryUsed="62914560"
            processMemoryLimit="41943040"/>
      </jobObject>
    </jobs>
  </jobObjects>
</configuration>