<ul class="sidebar-menu">
    <li class="active">
        <a href="/">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    <li class="treeview">
        <a href="franquicias.html">
            <i class="fa fa-bar-chart-o"></i>
            <span>Franquicias</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="franquicias.html"><i class="fa fa-angle-double-right"></i> Morris</a></li>
            <li><a href="charts/flot.html"><i class="fa fa-angle-double-right"></i> Flot</a></li>
            <li><a href="charts/inline.html"><i class="fa fa-angle-double-right"></i> Inline charts</a></li>
        </ul>
    </li>
    <li class="treeview" id="menuEnvios">
        <a href="#">
            <i class="fa fa-archive"></i>
            <span>Envios</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li id="submenuBuscarEnvio"><a href="/buscarenvio"><i class="fa fa-angle-double-right"></i> Buscar Envio</a></li>
            <li id="submenuSeguimientoEnvio"><a href="/envios/seguimiento"><i class="fa fa-angle-double-right"></i> Seguimiento Envio</a></li>
        </ul>
    </li>
    <li class="treeview" id="menuIntegracionG2">
        <a href="#">
            <i class="fa fa-exchange"></i>
            <span>Integracion G3 &lt;-&gt; G2</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li id="submenuVersionadorG2"><a href="/integraciong2/versionadorg2"><i class="fa fa-angle-double-right"></i> Versionador G2</a></li>
        </ul>
    </li>
</ul>