{% extends "widgets/widget.html" %}
{% block titlewidget %}Ancho Banda(KB/s){% endblock %}
{% block blockwidget %}
    <div id='bandwidthGraph_div' style="height: 360px">
        <img src="{{ url_for('static', filename='img/loading2.gif') }}">
    </div>
    <script>
    google.setOnLoadCallback(drawMemoryTable);
    function drawMemoryTable() {
        $.post("/bandwidthservice/" + environment + "/{{ service }}").done(function( data ){
                var datatable = new google.visualization.arrayToDataTable(data["Data"]);
                var table = new google.visualization.LineChart(document.getElementById('bandwidthGraph_div'));
                table.draw(datatable, {vAxis : { minValue: 0}});
        });
       };

    </script>

{% endblock %}
