{% extends "widgets/widget.html" %}
{% block titlewidget %}Memoria Top 5{% endblock %}
{% block blockwidget %}
    <div id='memoryTable_div' style="height: 360px">
        <img src="{{ url_for('static', filename='img/loading2.gif') }}">
    </div>
    <script>
    google.setOnLoadCallback(drawMemoryTable);
    function drawMemoryTable() {
        $.post("/memorytop/" + environment + "/").done(function( data ){
                var datatable = new google.visualization.arrayToDataTable(data["Services"]);
                var table = new google.visualization.BarChart(document.getElementById('memoryTable_div'));
                table.draw(datatable);
             });

      }
    </script>

{% endblock %}
