<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="jobObjects" type="HermEsb.Extended.JobObjects.Configuration.JobObjectsConfig, HermEsb.Extended.JobObjects.Configuration"/>
  </configSections>
  <jobObjects>
    <jobs>
      <jobObject name="job1">
        <basicLimitInformation
            activeProcessLimit="4294967295"
            affinity="0"
            limitFlags="0x0200"
            maximumWorkingSetSize="512"
            minimumWorkingSetSize="128"
            perJobUserTimeLimit="100"
            perProcessUserTimeLimit="200"
            priorityClass="0"
            schedulingClass="0" />
        <ioCounters
            otherOperationCount="0"
            otherTransferCount="0"
            readOperationCount="0"
            readTransferCount="0"
            writeOperationCount="0"
            writeTransferCount="0" />
        <securityAttributes
            bInheritHandle="0"
            lpSecurityDescriptor="0"
            nLength="0" />
        <extendedLimitInformation
            jobMemoryLimit="512"
            peakJobMemoryUsed="1024"
            peakProcessMemoryUsed="648"
            processMemoryLimit="648"/>
      </jobObject>
      <jobObject name="job2">
        <basicLimitInformation
            activeProcessLimit="4294967295"
            affinity="0"
            limitFlags="0x0200"
            maximumWorkingSetSize="512"
            minimumWorkingSetSize="128"
            perJobUserTimeLimit="100"
            perProcessUserTimeLimit="200"
            priorityClass="0"
            schedulingClass="0"/>
        <ioCounters
            otherOperationCount="0"
            otherTransferCount="0"
            readOperationCount="0"
            readTransferCount="0"
            writeOperationCount="0"
            writeTransferCount="0" />
        <securityAttributes
            bInheritHandle="0"
            lpSecurityDescriptor="0"
            nLength="0" />
        <extendedLimitInformation
            jobMemoryLimit="512"
            peakJobMemoryUsed="1024"
            peakProcessMemoryUsed="648"
            processMemoryLimit="648"/>
      </jobObject>
    </jobs>
  </jobObjects>
</configuration>